<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Example App</title>

    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/nes.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/layout/main.css"/>
</head>
<body>

<header>
    <a href="/" class="nes-btn is-primary">Home</a>
    <a href="/bestiary" class="nes-btn is-success">Bestiary</a>
</header>

<div class="container">
    {{{body}}}
</div>

</body>
</html>
