<div class="row">
    <div class="col-sm-12">
        <header>
            <h1>Bestiary</h1>
        </header>
    </div>
</div>

<div class="row">
    {{#each pokemon}}
        <div class="col-lg-4 col-sm-8">
            <div class="ml-sm-0 nes-container">
                <header>
                    <h4>{{name}}</h4>
                </header>
                <article>
                    <div>
                        Level {{level}}
                    </div>
                </article>
                <footer>
                    {{#each badges}}
                        <div class="nes-badge">
                            <span class="is-{{color}}">{{name}}</span>
                        </div>
                    {{/each}}
                </footer>
            </div>
        </div>
    {{/each}}
</div>
