<div class="row">
    <div class="col-lg-12">
        <header>
            <h1>Example App: Home</h1>
        </header>

        <section class="nes-container">
            <span class="nes-text is-primary">Primary</span>
            <span class="nes-text is-success">Success</span>
            <span class="nes-text is-warning">Warning</span>
            <span class="nes-text is-error">Error</span>
            <span class="nes-text is-disabled">Disabled</span>
        </section>
    </div>
</div>
